openapi: 3.1.0
info:
  title: Mercury Accounts Payments API
  description: 'Mercury is a banking platform for startups. The Mercury REST API exposes

    accounts, transactions, statements, recipients, payments (ACH and wire),

    cards, treasury, and webhooks. Read-and-write tokens for sending money

    require IP whitelisting. Authenticate with a Bearer API token.

    '
  version: v1
  contact:
    name: Mercury
    url: https://docs.mercury.com/
servers:
- url: https://api.mercury.com/api/v1
  description: Mercury production API
security:
- bearerAuth: []
tags:
- name: Payments
paths:
  /account/{id}/recipients:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Payments
      summary: Send money to a recipient (ACH or wire)
      description: 'Sends an outbound ACH or domestic wire payment from a Mercury account

        to a recipient. Requires read-and-write tokens from a whitelisted IP.

        '
      responses:
        '200':
          description: Payment requested
  /account/{id}/transactions/{transactionId}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - name: transactionId
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - Payments
      summary: Cancel a pending payment
      responses:
        '204':
          description: Cancelled
components:
  parameters:
    AccountId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Mercury account ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Mercury API token (read-only or read-and-write). Send as

        "Authorization: Bearer {token}". Read-and-write tokens require

        IP whitelisting.

        '
