openapi: 3.2.0
info:
  title: Mercury Recipients API
  description: 'Mercury is a banking platform for startups. The Mercury REST API exposes

    accounts, transactions, statements, recipients, payments (ACH and wire),

    cards, treasury, and webhooks. Read-and-write tokens for sending money

    require IP whitelisting. Authenticate with a Bearer API token.'
  version: v1
  contact:
    name: Mercury
    url: https://docs.mercury.com/
servers:
- url: https://api.mercury.com/api/v1
  description: Mercury production API
security:
- bearerAuth: []
tags:
- name: Recipients
paths:
  /recipients:
    get:
      tags:
      - Recipients
      summary: List recipients
      responses:
        '200':
          description: Paginated recipients
      operationId: getRecipients
      x-operation-id-source: derived
    post:
      tags:
      - Recipients
      summary: Create a recipient
      responses:
        '201':
          description: Recipient created
      operationId: postRecipients
      x-operation-id-source: derived
  /recipients/{id}:
    parameters:
    - $ref: '#/components/parameters/RecipientId'
    get:
      tags:
      - Recipients
      summary: Get a recipient
      responses:
        '200':
          description: Recipient
      operationId: getRecipientsById
      x-operation-id-source: derived
    patch:
      tags:
      - Recipients
      summary: Update a recipient
      responses:
        '200':
          description: Updated recipient
      operationId: patchRecipientsById
      x-operation-id-source: derived
components:
  parameters:
    RecipientId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Recipient ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Mercury API token (read-only or read-and-write). Send as

        "Authorization: Bearer {token}". Read-and-write tokens require

        IP whitelisting.

        '
