openapi: 3.1.0
info:
  title: Mercury API
  description: |
    Mercury is a banking platform for startups. The Mercury REST API exposes
    accounts, transactions, statements, recipients, payments (ACH and wire),
    cards, treasury, and webhooks. Read-and-write tokens for sending money
    require IP whitelisting. Authenticate with a Bearer API token.
  version: "v1"
  contact:
    name: Mercury
    url: https://docs.mercury.com/
servers:
  - url: https://api.mercury.com/api/v1
    description: Mercury production API
security:
  - bearerAuth: []
tags:
  - name: Accounts
  - name: Transactions
  - name: Statements
  - name: Recipients
  - name: Payments
  - name: Cards
  - name: Treasury
  - name: Webhooks
paths:
  /accounts:
    get:
      tags: [Accounts]
      summary: List accounts
      responses:
        "200":
          description: Paginated accounts
  /accounts/{id}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      tags: [Accounts]
      summary: Get an account
      responses:
        "200":
          description: Account details
  /accounts/{id}/cards:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      tags: [Cards]
      summary: List cards for an account
      responses:
        "200":
          description: Cards
  /accounts/{id}/transactions:
    parameters:
      - $ref: "#/components/parameters/AccountId"
      - name: limit
        in: query
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
      - name: status
        in: query
        schema:
          type: string
          enum: [pending, sent, cancelled, failed]
      - name: start
        in: query
        schema:
          type: string
          format: date
      - name: end
        in: query
        schema:
          type: string
          format: date
    get:
      tags: [Transactions]
      summary: List transactions for an account
      responses:
        "200":
          description: Paginated transactions
  /accounts/{id}/transactions/{transactionId}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Transactions]
      summary: Get a single transaction for an account
      responses:
        "200":
          description: Transaction
    patch:
      tags: [Transactions]
      summary: Update note or category on a transaction
      responses:
        "200":
          description: Updated transaction
  /accounts/{id}/statements:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      tags: [Statements]
      summary: List monthly statements for an account
      responses:
        "200":
          description: Statements
  /recipients:
    get:
      tags: [Recipients]
      summary: List recipients
      responses:
        "200":
          description: Paginated recipients
    post:
      tags: [Recipients]
      summary: Create a recipient
      responses:
        "201":
          description: Recipient created
  /recipients/{id}:
    parameters:
      - $ref: "#/components/parameters/RecipientId"
    get:
      tags: [Recipients]
      summary: Get a recipient
      responses:
        "200":
          description: Recipient
    patch:
      tags: [Recipients]
      summary: Update a recipient
      responses:
        "200":
          description: Updated recipient
  /account/{id}/recipients:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    post:
      tags: [Payments]
      summary: Send money to a recipient (ACH or wire)
      description: |
        Sends an outbound ACH or domestic wire payment from a Mercury account
        to a recipient. Requires read-and-write tokens from a whitelisted IP.
      responses:
        "200":
          description: Payment requested
  /account/{id}/transactions/{transactionId}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
    delete:
      tags: [Payments]
      summary: Cancel a pending payment
      responses:
        "204":
          description: Cancelled
  /treasury:
    get:
      tags: [Treasury]
      summary: Get treasury account details
      responses:
        "200":
          description: Treasury account
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      responses:
        "200":
          description: Webhooks
    post:
      tags: [Webhooks]
      summary: Create a webhook
      responses:
        "201":
          description: Created
  /webhooks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhooks]
      summary: Get a webhook
      responses:
        "200":
          description: Webhook
    patch:
      tags: [Webhooks]
      summary: Update a webhook
      responses:
        "200":
          description: Updated
    delete:
      tags: [Webhooks]
      summary: Delete a webhook
      responses:
        "204":
          description: Deleted
components:
  parameters:
    AccountId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Mercury account ID.
    RecipientId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Recipient ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: |
        Mercury API token (read-only or read-and-write). Send as
        "Authorization: Bearer {token}". Read-and-write tokens require
        IP whitelisting.
